body {
    margin: 0;
    background-image: url("../assets/columna.jpg");

    
}

canvas {
    display: block;
    margin: auto;
    width: calc(70%);
    margin-top: 2%;
    background: #162128;  
}